# MongoDB
MONGO_USERNAME=admin
MONGO_PASSWORD=password
MONGO_DATABASE=weather_db
MONGO_URL=mongodb://admin:password@mongodb:27017/weather_db?authSource=admin

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# Application
BACKEND_URL=http://backend:3000/api/weather/logs
JWT_SECRET=gdash-challenge-secret-key
JWT_EXPIRES_IN=3600
DEFAULT_ADMIN_EMAIL=gdash@challenge.com
DEFAULT_ADMIN_PASSWORD=12345678